{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block title %}
  Change Password
{% endblock title %}
{% block extrastyle %}
  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; }
{% endblock extrastyle %}
{% block content %}
  <div class="col-sm-6 container text-secondary">
    <div class="card bg-white border-white"">
      <div class="card-header bg-transparent">
        Change Password
      </div>
      <div class="card-body">
        <form method="post">
          <div class="form-row align-items-center">
            {% csrf_token %}
            {{ form|crispy }}
          </div>
          <button class="btn btn-sm btn-outline-secondary mt-2" type="submit">Change My Password</button>
        </form>
      </div>
      <div class="card-footer bg-transparent">
        <a class='card-link' href="{% url 'account_reset_password' %}">Forgotten your password?</a>
      </div>
    </div>
  </div>
{% endblock content %}