{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block title %}
  Set Password
{% endblock title %}
{% block content %}
  <div class="col-sm-6 container text-secondary">
    <div class="card bg-white border-white"">
      <div class="card-header bg-transparent">
        Set Password
      </div>
      <div class="card-body">
        <form method="post">
          <div class="form-row align-items-center">
            {% csrf_token %}
            {{ form|crispy }}
          </div>
          <button class="btn btn-sm btn-outline-secondary mt-2" type="submit">Set Password</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}