{% extends "base.html" %}
{% block title %}
	About Us
{% endblock title %}
{% block content %}
	<div class="bg-white col-md-8 container">
		<div class="card bg-white border-white">
			<div class="card-header bg-transparent">
				About Us
			</div>
			<div class="card-body">
				<p>Welcome to ShareIt</p>
				<p>Share files with your friends easily and free.</p>
				<p>Steps to share:</p>
				<ul class="text-info">
					<li>Create Account and verify email address</li>
					<li>Login</li>
					<li>Upload a file to share</li>
					<li>Input the email address of the recipient(s).(upto 5)</li>
					<li>Submit. Simple.</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock content %}